html {
    height: 100%;
}

body {
    font-family: 'Lucida Console', Monaco, monospace;
    background: #000;
    margin: 0;
    color: #fff;
}

.canvas-container {
    display: block;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

.canvas {
    position: absolute;
    top: 0;
    left: 0;
    transition: left 0.5s ease-out, top 0.5s ease-out;
    z-index: 1;
}

.characters-canvas {
    z-index: 2;
}

.sword-canvas {
    z-index: 3;
}

.dialog-canvas {
    z-index: 4;
    cursor: pointer;
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
}

.dialog-canvas.visible {
    opacity: 1;
    pointer-events: auto;
}

h1 {
    text-align: center;
}

a {
    color: #fff;
}

audio {
    margin: 10px auto;
    display: block;
}

::-webkit-media-controls-panel {
    background: #000;
}

.left {
    float: left;
    margin-left: 5%;
}

.right {
    float: right;
    margin-right: 5%;
}
