html {
    height: 100%;
}

body {
    font-family: "Lucida Console", Monaco, monospace;
    background: #000;
    margin: 0;
    color: #fff;
}

.game-canvas {
    display: block;
    margin: 0 auto;
}

h1 {
    text-align: center;
}